<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mocredit.gateway.persistence.InRequestLogMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.mocredit.gateway.entity.InRequestLog">
		insert into
		`in_request_log`(ip,url,request,ctime,order_id)
		values(#{ip},#{url},#{request},now(),#{orderId})
	</insert>
</mapper>
