<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mocredit.gateway.persistence.TranRecordMapper">
    <resultMap id="BaseResultMap" type="com.mocredit.gateway.entity.TranRecord">
        <result column="id" property="id"/>
        <result column="activity_id" property="activityId"/>
        <result column="card_num" property="cardNum"/>
        <result column="tran_type" property="tranType"/>
        <result column="tran_count" property="tranCount"/>
        <result column="expire_date" property="expireDate"/>
        <result column="ctime" property="cTime"/>
        <result column="utime" property="uTime"/>
    </resultMap>
    <insert id="save" parameterType="com.mocredit.gateway.entity.TranRecord">
		insert into
		`tran_record`(activity_id,card_num,tran_type,tran_count,expire_date,ctime,utime)
		values(#{t.activityId},#{t.cardNum},#{t.tranType},#{t.tranCount},#{t.expireDate},now(),now()) ON
		DUPLICATE KEY UPDATE tran_count=tran_count+1,expire_date=#{t.expireDate},utime=now();
	</insert>
    <update id="updateByExpireDate">
		update `tran_record` set tran_count=0,utime=now() where expire_date&lt;=#{expireDate}
    </update>
    <select id="getTranRecordByCardNum" resultMap="BaseResultMap">
        select * from
        `tran_record` where card_num=#{cardNum} and activity_id=#{activityId}
    </select>
    <update id="minusCountByCardNum">
        update `tran_record` set tran_count=tran_count-1,utime=now() where tran_count >0 and card_num=#{cardNum} and activity_id=#{activityId}
    </update>
</mapper>
