<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yimiehuijin.tempbonusconsume">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <application   android:name="com.yimiehuijin.codeandbonuslibrary.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher">
        <activity
            android:name=".modules.signin.SigninActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.consume.BonusConsumeResultActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".modules.consume.BonusConsumeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/ActivityBaseNoTitle" >
        </activity>
        <activity
            android:name=".modules.consume.PayActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/ActivityBaseNoTitle" >
        </activity>
        <activity
            android:name=".modules.consume.ConsumeCancelActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".modules.setting.SettingActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <service android:name=".service.WangposService" >
        </service>
    </application>

</manifest>
