<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace和定义的Mapper接口对应，并实现其中的方法 -->
<mapper namespace="com.mocredit.bank.persistence.BankLogMapper">

    <insert id="save" parameterType="com.mocredit.bank.entity.BankLog" >
        INSERT  INTO ti_bank_log
        (card_num,bank,url,operate,reqParam,respResult,ctime,request_id)
        VALUES
        (#{cardNum},#{bank},#{url},#{operate},#{reqParam},#{respResult},now(),#{requestId})
    </insert>

</mapper>