<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace和定义的Mapper接口对应，并实现其中的方法 -->
<mapper namespace="com.mocredit.bank.persistence.OrderMapper">

    <insert id="save" parameterType="com.mocredit.bank.entity.Payment" >
        INSERT  INTO act_activity_syn_log
        (id,activity_id,activity_name,oper_type,oper_time,success,error_code,message,syn_num)
        VALUES
        (#{id},#{activityId},#{activityName},#{operType},#{operTime},#{success},#{errorCode},#{message},#{synNum})
    </insert>
	
</mapper>