<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mocredit.bank.persistence.TiPaymentReportMapper" >
<resultMap type="com.mocredit.bank.entity.Payment" id="paymentResult">
	    <id column="uuid" property="id" jdbcType="INTEGER"></id>
        <result column="terminal_id" property="terminalID" jdbcType="VARCHAR"></result>
        <result column="amount" property="transAmt" jdbcType="DECIMAL"></result>
        <result column="authorize_code" property="authorizeCode" jdbcType="VARCHAR"></result>
        <result column="auth_date" property="authDate" jdbcType="VARCHAR"></result>
        <result column="auth_time" property="authTime" jdbcType="VARCHAR"></result>
        <result column="merchant_id" property="merchantID" jdbcType="VARCHAR"></result>
        <result column="merchant_name" property="merchantName" jdbcType="VARCHAR"></result>
        <result column="batch_no" property="batchNo" jdbcType="VARCHAR"></result>
        <result column="serial_no" property="serialNo" jdbcType="VARCHAR"></result>
</resultMap>
<resultMap type="com.mocredit.bank.entity.TiPaymentReport" id="paymentReport">
	<id column="uuid" property="uuid" jdbcType="INTEGER"></id>
        <result column="bank" property="bank" jdbcType="VARCHAR"></result>
        <result column="terminal_id" property="terminalId" jdbcType="VARCHAR"></result>
        <result column="order_id" property="orderId" jdbcType="VARCHAR"></result>
        <result column="card_num" property="cardNum" jdbcType="VARCHAR"></result>
        <result column="pos_id" property="posId" jdbcType="VARCHAR"></result>
        <result column="pos_time" property="posTime" jdbcType="VARCHAR"></result>
        <result column="product_type" property="productType" jdbcType="VARCHAR"></result>
        <result column="amount" property="amount" jdbcType="DECIMAL"></result>
        <result column="status" property="status" jdbcType="SMALLINT"></result>
        <result column="ctime" property="ctime" jdbcType="TIMESTAMP"></result>
        <result column="device" property="device" jdbcType="VARCHAR"></result>
        <result column="trans_date" property="transDate" jdbcType="VARCHAR"></result>
        <result column="request_id" property="requestId" jdbcType="INTEGER"></result>
</resultMap>

  <insert id="save" parameterType="com.mocredit.bank.entity.TiPaymentReport"  useGeneratedKeys="true" keyProperty="uuid">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Aug 24 10:10:03 CST 2015.
    -->
    insert into ti_payment_report ( bank, terminal_id, 
      order_id, card_num, pos_id, 
      pos_time, product_type, amount, 
      status, ctime, device,trans_date,request_id)
    values ( #{bank,jdbcType=VARCHAR}, #{terminalId,jdbcType=VARCHAR}, 
      #{orderId,jdbcType=VARCHAR}, #{cardNum,jdbcType=VARCHAR}, #{posId,jdbcType=VARCHAR}, 
      #{posTime,jdbcType=VARCHAR}, #{productType,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, 
      #{status,jdbcType=SMALLINT}, now(), #{device,jdbcType=VARCHAR}, DATE_FORMAT(NOW(),'%Y%m%d'), #{requestId,jdbcType=INTEGER})
  </insert>
  <select id="selectByOrderId" resultMap="paymentReport" parameterType="String">
 		select pr.uuid,pr.bank,pr.terminal_id,pr.order_id,pr.card_num,pr.pos_id,pr.pos_time,pr.product_type,pr.amount,pr.`status`,pr.ctime,pr.device,trans_date,pr.request_id from ti_payment_report pr where order_id=#{orderId}
  </select>
  <update id="updateStatus"  parameterType="com.mocredit.bank.entity.TiPaymentReport">
  	update ti_payment_report set status=#{status} where uuid=#{uuid}
  </update>
  <select id="selectByMerchantId" resultMap="paymentResult" parameterType="java.util.Map">
 		SELECT pr.uuid, pr.terminal_id, pr.amount, rd.authorize_code, rd.auth_date, rd.auth_time, rd.merchant_id, rd.merchant_name, rd.batch_no, rd.serial_no 
 		FROM ti_payment_report pr 
 		LEFT JOIN ti_report_data_zx rd ON rd.report_id = pr.uuid 
 		WHERE pr.trans_date =#{tranDate}  AND rd.merchant_id = #{merchantId} and pr.status=#{status}
 		limit #{limitMin},#{limitCount}
  </select>
</mapper>