<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace和定义的Mapper接口对应，并实现其中的方法 -->
<mapper namespace="com.mocredit.verifyCode.dao.ActivityCodeMapper">

    <resultMap id="baseResultMap" type="com.mocredit.verifyCode.model.TActivityCode">
        <id column="id" property="id" jdbcType="VARCHAR" ></id>
        <result column="code" property="code" jdbcType="VARCHAR" ></result>
        <result column="code_serial_number" property="codeSerialNumber" jdbcType="VARCHAR" ></result>
        <result column="activity_id" property="activityId" jdbcType="VARCHAR" ></result>
        <result column="activity_name" property="activityName" jdbcType="VARCHAR" ></result>
        <result column="max_num" property="maxNum" jdbcType="INTEGER" ></result>
        <result column="amount" property="amount" jdbcType="DECIMAL" ></result>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP" ></result>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP" ></result>
        <result column="order_id" property="orderId" jdbcType="VARCHAR" ></result>
        <result column="createtime" property="createTime" jdbcType="TIMESTAMP" ></result>
        <result column="issue_enterprise_id" property="issueEnterpriseId" jdbcType="VARCHAR" ></result>
        <result column="issue_enterprise_name" property="issueEnterpriseName" jdbcType="VARCHAR" ></result>
        <result column="custom_mobile" property="customMobile" jdbcType="VARCHAR" ></result>
        <result column="release_time" property="releaseTime" jdbcType="TIMESTAMP" ></result>
        <result column="contract_id" property="contractId" jdbcType="VARCHAR"></result>
        <result column="select_date" property="selectDate" jdbcType="VARCHAR"></result>

        <result column="out_code" property="outCode" jdbcType="VARCHAR"></result>
        <result column="custom_name" property="customName" jdbcType="VARCHAR"></result>
        <result column="order_code" property="orderCode" jdbcType="VARCHAR"></result>
        <result column="enterprise_code" property="enterpriseCode" jdbcType="VARCHAR"></result>
        <result column="activity_code" property="activityCode" jdbcType="VARCHAR"></result>
        <result column="status" property="status" jdbcType="VARCHAR"></result>
        <result column="exchange_channel" property="exchangeChannel" jdbcType="VARCHAR"></result>
    </resultMap>
    <!-- 插入码 -->
    <insert id="insertActivityCode" parameterType="com.mocredit.verifyCode.model.TActivityCode">
        <![CDATA[
        INSERT  INTO t_activity_code (code,code_serial_number,activity_id,activity_name,max_num,
          amount,start_time,end_time,order_id,createtime,
          issue_enterprise_id,issue_enterprise_name,custom_mobile,release_time,contract_id,out_code,order_code,enterprise_code,custom_name,activity_code,status,exchange_channel
        )VALUES (
          #{code},#{codeSerialNumber},#{activityId},#{activityName},#{maxNum},
          #{amount},#{startTime},#{endTime},#{orderId},#{createTime},
          #{issueEnterpriseId},#{issueEnterpriseName},#{customMobile},#{releaseTime},#{contractId},#{outCode},#{orderCode},#{enterpriseCode},#{customName},#{activityCode},#{status},#{exchangeChannel}
        )
        ]]>
    </insert>

    <!-- 根据编码查询码记录 -->
    <select id="findActivityCodeByCode" resultType="com.mocredit.verifyCode.model.TActivityCode" resultMap="baseResultMap" parameterType="java.lang.String" >
        <![CDATA[
          SELECT * FROM  t_activity_code where code=#{code} limit 1
        ]]>
    </select>

<!-- 根据编码查询码记录 -->
    <select id="findByCodeAndRequestSerialNumber" resultType="com.mocredit.verifyCode.model.TActivityCode" resultMap="baseResultMap" parameterType="map" >
        <![CDATA[
          SELECT * FROM  t_activity_code where code=#{code} and activity_id=#{activityId} limit 1
        ]]>
    </select>

    <select id="findActivityCodeById" resultType="com.mocredit.verifyCode.model.TActivityCode" resultMap="baseResultMap" parameterType="java.lang.String" >
        <![CDATA[
          SELECT * FROM  t_activity_code where id=#{id} limit 1
        ]]>
    </select>


    <!-- 采用for update的方式锁定 行 -->
    <select id="selectActivityCodeForUpdateById" resultType="com.mocredit.verifyCode.model.TActivityCode" resultMap="baseResultMap" parameterType="java.lang.String">
        <![CDATA[
         select * from t_activity_code where id=#{id} for update
         ]]>
    </select>

    <!-- 更新券码 -->
    <update id="updateActivityCode" parameterType="com.mocredit.verifyCode.model.TActivityCode">

          UPDATE t_activity_code
          <set>
            <if test=" null != code">  code=#{code}, </if>
            <if test=" null != codeSerialNumber">  code_serial_number=#{codeSerialNumber}, </if>
            <if test=" null != activityId">  activity_id=#{activityId} ,</if>
            <if test=" null != activityName">  activity_name=#{activityName} ,</if>
            <if test=" null != maxNum">  max_num=#{maxNum}, </if>
            <if test=" null != amount">  amount=#{amount} ,</if>
            <if test=" null != startTime">  start_time=#{startTime} ,</if>
            <if test=" null != endTime">  end_time=#{endTime} ,</if>
            <if test=" null != orderId">  order_id=#{orderId} ,</if>
            <if test=" null != createTime">  createtime=#{createTime} ,</if>
            <if test=" null != issueEnterpriseId">  issue_enterprise_id=#{issueEnterpriseId} ,</if>
            <if test=" null != issueEnterpriseName">  issue_enterprise_name=#{issueEnterpriseName} ,</if>
            <if test=" null != customMobile">  custom_mobile=#{customMobile} ,</if>
            <if test=" null != releaseTime">  release_time=#{releaseTime} ,</if>
            <if test=" null != contractId">  contract_id=#{contractId} ,</if>
            <if test=" null != selectDate">  select_date=#{selectDate} ,</if>
            <if test=" null != outCode">  out_code=#{outCode} ,</if>
            <if test=" null != orderCode">  order_code=#{orderCode} ,</if>
            <if test=" null != enterpriseCode">  enterprise_code=#{enterpriseCode} ,</if>
            <if test=" null != customName">  custom_name=#{customName} ,</if>
            <if test=" null != activityCode">  activity_code=#{activityCode} ,</if>
            <if test=" null != status">  status=#{status} ,</if>
          </set>
          where id=#{id}

    </update>

    <!-- 批量保存券码 -->
    <insert id="batchSave" parameterType="java.util.List">
        <choose>
            <when test=" null !=activityCodes and activityCodes.size >0 ">
                INSERT INTO t_activity_code (
                code,code_serial_number,activity_id,activity_name,max_num,
                amount,start_time,end_time,order_id,createtime,
                issue_enterprise_id,issue_enterprise_name,custom_mobile,release_time,contract_id,select_date,out_code,order_code,enterprise_code,custom_name,activity_code,status,exchange_channel
                )VALUES
                <foreach collection="activityCodes" item="item" index="index" separator=",">
                    (#{item.code},#{item.codeSerialNumber},#{item.activityId},#{item.activityName},#{item.maxNum},
                    #{item.amount},#{item.startTime},#{item.endTime},#{item.orderId},#{item.createTime},
                    #{item.issueEnterpriseId},#{item.issueEnterpriseName},#{item.customMobile},#{item.releaseTime},#{item.contractId},#{item.selectDate},#{item.outCode},#{item.orderCode},#{item.enterpriseCode},#{item.customName},#{item.activityCode},#{item.status},#{item.exchangeChannel})
                </foreach>
            </when>
            <otherwise>
                select 1 from act_activity_store where 1=0
            </otherwise>
        </choose>
    </insert>

    <update id="updateActActivity" parameterType="map">
        UPDATE t_activity_code
        <set>
            <if test=" null!=activityName">activity_name=#{activityName},</if>
            <if test=" null != maxNum">  max_num=#{maxNum}, </if>
            <if test=" null != amount">  amount=#{amount} ,</if>
            <if test=" null != startTime">  start_time=#{startTime} ,</if>
            <if test=" null != endTime">  end_time=#{endTime} ,</if>
            <if test=" null != issueEnterpriseId">  issue_enterprise_id=#{issueEnterpriseId} ,</if>
            <if test=" null != issueEnterpriseName">  issue_enterprise_name=#{issueEnterpriseName} ,</if>
            <if test=" null != contractId">  contract_id=#{contractId} ,</if>
            <if test=" null != selectDate">  select_date=#{selectDate} ,</if>
            <if test=" null != outCode">  out_code=#{outCode} ,</if>
            <if test=" null != enterpriseCode">  enterprise_code=#{enterpriseCode} ,</if>
            <if test=" null != activityCode">  activity_code=#{activityCode} ,</if>
            <if test=" null != exchangeChannel">  exchange_channel=#{exchangeChannel} ,</if>
        </set>
        where activity_id=#{activityId} and status=#{status}
    </update>
<!-- 根据条件查询流水分页数据 -->
	<select id="findPageList"  resultType="Map" parameterType="Map">
		SELECT
			c.id,
			c.activity_name as activityName,
			c.custom_mobile as mobile,
			c.`code`,
			c.amount,
			c.status,
			c.code_serial_number as codeId,
			c.end_time as endTime,
			c.issue_enterprise_name as enterpriseName
		FROM
		t_activity_code c
		<where>
			<if test="code !=null">
				c.code =#{code,jdbcType=VARCHAR}
			</if>
			<if test="startTime !=null">
				and c.createTime &gt;=#{startTime,jdbcType=TIMESTAMP}
			</if>
			<if test="endTime !=null">
				and c.createTime &lt;=#{endTime,jdbcType=TIMESTAMP}
			</if>
			<if test="status != null">
				and c.status in (${status})
			</if>
			<if test="mobile !=null">
				and c.custom_mobile =#{mobile,jdbcType=VARCHAR}
			</if>
			<if test="activityName !=null">
				and c.activity_name  like  '${activityName}'
			</if>
			<if test="enterpriseName !=null">
				and c.issue_enterprise_name  like  '${enterpriseName}'
			</if>
		</where>
		order by createtime desc
		limit #{pageStart},#{pageSize}
	</select>
	<!-- 根据条件查询流水分页数据条数 -->
	<select id="findPageCount"  resultType="java.lang.Integer" parameterType="Map">
	SELECT
			count(1)
		FROM
		t_activity_code c
		<where>
			<if test="code !=null">
				c.code =#{code,jdbcType=VARCHAR}
			</if>
			<if test="startTime !=null">
				and c.createTime &gt;=#{startTime,jdbcType=TIMESTAMP}
			</if>
			<if test="endTime !=null">
				and c.createTime &lt;=#{endTime,jdbcType=TIMESTAMP}
			</if>
			<if test="status != null">
				and c.status in (${status})
			</if>
			<if test="mobile !=null">
				and c.custom_mobile =#{mobile,jdbcType=VARCHAR}
			</if>
			<if test="activityName !=null">
				and c.activity_name  like  '${activityName}'
			</if>
			<if test="enterpriseName !=null">
				and c.issue_enterprise_name  like  '${enterpriseName}'
			</if>
		</where>
	</select>
    <select id="statActCode" resultType="java.util.HashMap">
        SELECT
        (SELECT COUNT(1) FROM t_verified_code WHERE  activity_id=#{actId}) AS verifyCount,
        (SELECT COUNT(1) FROM t_activity_code WHERE  activity_id=#{actId} AND  STATUS='02') AS exchangeCount,
        (SELECT COUNT(1) FROM t_activity_code WHERE  activity_id=#{actId} AND  STATUS='03') AS disableCount
        FROM dual
    </select>
    <select id="statActStoreCode" resultType="java.util.HashMap">
        SELECT verifyCount,(exchCount-revokeCount)AS exchangeCount FROM
        (SELECT
        (SELECT COUNT(1) FROM t_verified_code WHERE  activity_id=#{actId} AND store_id=#{storeId}) AS verifyCount,
        (SELECT COUNT(1) FROM t_verified_code WHERE  activity_id=#{actId} AND store_id=#{storeId} AND STATUS=1) AS exchCount,
        (SELECT COUNT(1) FROM t_verified_code a WHERE  activity_id=#{actId} AND a.code IN(SELECT DISTINCT(CODE) FROM t_verified_code
        WHERE  activity_id=#{actId} AND store_id=#{storeId} AND STATUS=1
        ) AND STATUS=2) AS revokeCount
        FROM DUAL) a
    </select>
</mapper>