<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mocredit.integral.persistence.ActivityMapper">
    <resultMap id="BaseResultMap" type="com.mocredit.integral.entity.Activity">
        <result column="activity_id" property="activityId"/>
        <result column="activity_name" property="activityName"/>
        <result column="pub_enterprise_id" property="pubEnterpriseId"/>
        <result column="pub_enterprise_name" property="pubEnterpriseName"/>
        <result column="product_type" property="productType"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="select_date" property="selectDate"/>
        <result column="integral" property="integral"/>
        <result column="max_type" property="maxType"/>
        <result column="max_number" property="maxNumber"/>
        <result column="status" property="status"/>
        <result column="exchange_type" property="exchangeType"/>
        <result column="bins" property="bins"/>
        <result column="channel" property="channel"/>
        <result column="rule" property="rule"/>
    </resultMap>

    <insert id="save" parameterType="com.mocredit.integral.entity.Activity">
		insert into
		`ti_activity`(activity_id,activity_name,pub_enterprise_id,pub_enterprise_name,product_type,
		start_time,end_time,select_date,integral,max_type,
		max_number,status,exchange_type,bins,channel)
		values(#{t.activityId},#{t.activityName},#{t.pubEnterpriseId},#{t.pubEnterpriseName},#{t.productType},
		#{t.startTime},#{t.endTime},#{t.selectDate},#{t.integral},#{t.maxType},
		#{t.maxNumber},#{t.status},#{t.exchangeType},#{t.bins},#{t.channel})
	</insert>
    <select id="getByActivityId" resultMap="BaseResultMap">
		select * from
		`ti_activity` where activity_id=#{activityId}
	</select>
    <select id="getByShopIdStoreIdAcId" resultType="com.mocredit.integral.entity.Store">
        select uuid as uuid,shop_id as shopId,shop_name as shopName,store_id as storeId,store_name as storeName,
        activity_id
        as activityId from
        `ti_store` where 1=1 and activity_id=#{activityId}
        <if test="storeId!=null">
            and store_id=#{storeId}
        </if>

    </select>
    <insert id="saveStore" parameterType="com.mocredit.integral.entity.Store">
		insert into
		`ti_store`(shop_id,shop_name,store_id,store_name,activity_id)
		values(#{shopId},#{shopName},#{storeId},#{storeName},#{activityId})
	</insert>
    <insert id="saveTerminal" parameterType="com.mocredit.integral.entity.Terminal">
		insert into
		`ti_terminal`(en_code,store_id,activity_id)
		values(#{enCode},#{storeId},#{activityId})
	</insert>
    <delete id="deleteTerminalByEnCode">
		delete from `ti_terminal` where en_code=#{enCode}
	</delete>
    <delete id="updateTerminalByEnCode">
		update `ti_terminal` set en_code=#{enCode} where en_code=#{oldEnCode}
	</delete>
    <update id="updateActStatusById">
		update `ti_activity`
		set
		`status`=#{status} where
		activity_id=#{activityId}
	</update>
    <delete id="deleteActAndStoreById">
		DELETE a.*,b.*,c.* FROM `ti_activity` a LEFT JOIN
		`ti_store` b ON
		a.activity_id=b.activity_id LEFT JOIN `ti_terminal` c ON
		b.store_id=c.store_id and b.activity_id=c.activity_id WHERE
		a.activity_id=#{activityId}
	</delete>
    <delete id="deleteStoreByStoreId">
		DELETE FROM `ti_store` WHERE store_id = #{storeId}
	</delete>
    <insert id="saveActTransRecord" parameterType="com.mocredit.integral.entity.ActivityTransRecord">
		insert into
		`ti_activity_trans_record`(activity_id,trans_type,trans_count,expire_date,ctime,utime)
		values(#{t.activityId},#{t.transType},#{t.transCount},#{t.expireDate},now(),now()) ON
		DUPLICATE KEY UPDATE tran_count=tran_count+1,utime=now();
	</insert>
    <select id="getTranRecordByActId" resultType="com.mocredit.integral.entity.ActivityTransRecord">
		select uuid as uuid,activity_id as activityId,
		trans_type as transType,trans_count as transCout,
		expire_date as expireDate,ctime as cTime,utime as uTime
		from `ti_activity_trans_record` where activity_id #{activityId}
    </select>
    <select id="statCountByTime" resultType="com.mocredit.integral.entity.ActivityTransRecord">
		SELECT
		`uuid`,activity_id
		as activityId, SUM(trans_count) as transCount
		FROM
		`ti_activity_trans_record` WHERE
		trans_date >=#{startTime} AND
		trans_date &lt;=#{endTime}
	</select>
    <select id="getActivityByOrderId" resultMap="BaseResultMap">
		select b.* from ti_order a LEFT JOIN ti_activity b on a.activity_id=b.activity_id where order_id=#{orderId}
    </select>
    <select id="getActivityByEnCode" resultMap="BaseResultMap">
		select b.* from ti_terminal a LEFT JOIN ti_activity b on a.activity_id=b.activity_id where a.en_code=#{enCode} and b.status='01'
	</select>
    <select id="getActivityByStoreId" resultMap="BaseResultMap">
		select b.* from ti_store a LEFT JOIN ti_activity b on a.activity_id=b.activity_id where a.store_id=#{storeId} and b.status='01'
	</select>
</mapper>
