<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mocredit.integral.persistence.OrderMapper">
	<insert id="save" parameterType="com.mocredit.integral.entity.Order">
		insert into
		`ti_order`(request_id,card_num,bank,shop_id,shop_name,store_id,store_name,activity_id,activity_name,device,amount,order_id,status,trans_date,ctime)
		values(#{t.requestId},#{t.cardNum},#{t.bank},#{t.shopId},#{t.shopName},#{t.storeId},#{t.storeName},#{t.activityId},#{t.activityName},#{t.device},#{t.amount},#{t.orderId},#{t.status},#{t.transDate},now())
	</insert>
	<select id="getOrderByOrderIdAndDevice" resultType="int">
		select
		count(1) from
		`ti_order` where order_id=#{orderId} and device=#{device}
	</select>
	<select id="getOrderByOrderId" resultType="int">
		select
		count(1) from
		`ti_order` where order_id=#{orderId}
	</select>
	<update id="updateStatusByOrderIdAndDevice">
		update `ti_order`
		set
		status=#{status} where
		order_id=#{orderId} and device=#{device}
	</update>
	<select id="isExistOrder" resultType="int">
		select count(1) from
		`ti_order` where order_id=#{orderId} and device=#{device} and
		trans_date=#{transDate}
	</select>
	<select id="synOrder" resultType="com.mocredit.integral.dto.OrderDto">
		select
		a.uuid as id,
		a.order_id
		as orderId,
		a.activity_id as activityId,
		b.activity_name as
		activityName,
		b.pub_enterprise_id as enterpriseId,
		b.pub_enterprise_name as
		enterpriseName,
		a.shop_id as supEnterpriseId,
		a.shop_name as
		supEnterpriseName,
		a.store_id as storeId,
		a.store_name as
		storeName,
		a.status as status,
		b.start_time as startTime,
		b.end_time as
		endTime,
		a.bank as bank,
		a.card_num as cardNum,
		a.amount as integral,
		a.ctime as
		createTime
		from ti_order a left join ti_activity b on
		a.activity_id=b.activity_id
		order by a.uuid asc limit
		#{offset},#{pagesize}
	</select>
</mapper>
