<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mocredit.integral.persistence.OrderMapper">
    <insert id="save" parameterType="com.mocredit.integral.entity.Order">
		insert into
		`ti_order`(request_id,card_num,,store_id,activity_id,amt,order_id,old_order_id,en_code,card_exp_date,ctime,status)
		values(#{t.requestId},#{t.cardNum},#{t.storeId},#{t.activityId},#{t.amt},#{t.orderId},#{t.oldOrderId},#{t.enCode},#{t.cardExpDate},now(),#{t.status})
	</insert>
    <sql id="Base_Column">
        a.uuid as uuid,
		a.order_id as orderId,
		a.old_order_id as oldOrderId,
		a.activity_id as activityId,
		a.store_id as storeId,
		a.status as status,
		a.card_num as cardNum,
		a.amount as integral,
		a.ctime as
		createTime
	</sql>
    <select id="getOrderByOrderId" resultType="com.mocredit.integral.entity.Order">
        select
        <include refid="Base_Column"/>
        from
        `ti_order` where order_id=#{orderId}
    </select>
    <update id="updateStatusByOrderId">
		update `ti_order`
		set
		status=#{status} where
		order_id=#{orderId}
	</update>
    <select id="isExistOrder" resultType="int">
		select count(1) from
		`ti_order` where order_id=#{orderId}
	</select>
    <select id="synOrder" resultType="com.mocredit.integral.dto.OrderDto">
		select
		a.uuid as id,
		a.order_id
		as orderId,
		a.activity_id as activityId,
		b.activity_name as
		activityName,
		b.pub_enterprise_id as enterpriseId,
		b.pub_enterprise_name as
		enterpriseName,
		a.shop_id as supEnterpriseId,
		a.shop_name as
		supEnterpriseName,
		a.store_id as storeId,
		a.store_name as
		storeName,
		a.status as status,
		b.start_time as startTime,
		b.end_time as
		endTime,
		a.bank as bank,
		a.card_num as cardNum,
		a.amount as integral,
		a.ctime as
		createTime
		from ti_order a left join ti_activity b on
		a.activity_id=b.activity_id
		order by a.uuid asc limit
		#{offset},#{pagesize}
	</select>
</mapper>
