<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
	活动-Mybatis Mapper文件
	作者：william
	日期：2015/12/09
-->
<mapper namespace="com.mocredit.payment.persitence.MixPaymentRecordMapper">

	<insert id="saveMixPaymentRecord" parameterType="com.mocredit.payment.model.MixPaymentRecord" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO 
			mix_payment_record(order_id, payment_id, create_on)
		VALUES
			(#{orderId}, #{paymentId}, NOW())
	</insert>

</mapper>