<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
	发码批次码-Mybatis Mapper文件
	作者：lishoukun
	日期：2015/07/13
-->
<mapper namespace="com.mocredit.activity.dao.OrderCodeDao">
	<!-- ===================发码批次码,开始======================== -->
	
	<!--  公用列,包含发码批次码表所有字段     -->
	<sql id="base_orderCode_column_list" >
		oc.id as id,
		oc.order_id as orderId,
		oc.code as code,
		oc.code_id as codeId,
		oc.customer_mobile as customerMobile,
		oc.customer_name as customerName,
		oc.status as status
	</sql>
	
	<!--  公用查询条件，包含发码批次码所有字段的查询条件     -->
	<sql id="base_orderCode_condition" >
			<if test="id != null" >
				and oc.id = #{id}
			</if>
			<if test="orderId != null" >
				and oc.order_id = #{orderId}
			</if>
			<if test="code != null" >
				and oc.code = #{code}
			</if>
			<if test="codeId != null" >
				and oc.code_id = #{codeId}
			</if>
			<if test="customerMobile != null" >
				and oc.customer_mobile = #{customerMobile}
			</if>
			<if test="customerName != null" >
				and oc.customer_name = #{customerName}
			</if>
			<if test="status != null" >
				and oc.status = #{status}
			</if>
	</sql>
	
	<!--  获取一条发码批次码，根据主键    -->
	<select id="getOrderCodeById" resultType="com.mocredit.activity.model.OrderCode" parameterType="java.lang.String" >
	select 
	<include refid="base_orderCode_column_list" />
	from act_order_code oc
	where oc.id = #{id}
	</select>
	
	<!--  获取一条发码批次码，随机获取    -->
	<select id="getOrderCodeByRand" resultType="com.mocredit.activity.model.OrderCode" >
	select 
	<include refid="base_orderCode_column_list" />
	from act_order_code oc
	order by rand() limit 1
	</select>
	
	<!--  查询发码批次码列表，根据条件    -->
	<select id="queryOrderCodeList" resultType="com.mocredit.activity.model.OrderCode" parameterType="java.util.Map" >
	select 
	<include refid="base_orderCode_column_list" />
	from act_order_code oc
	<where>
		<include refid="base_orderCode_condition" />
	</where>
	<if test="pageInfoStart != null and pageInfoLimit != null" >
    	limit #{pageInfoStart,jdbcType=INTEGER},#{pageInfoLimit,jdbcType=INTEGER}
    </if>
	</select>
	
	<!--  获取发码批次码总数量，根据条件    -->
	<select id="getOrderCodeTotal" resultType="java.lang.Integer" parameterType="java.util.Map" >
	select 
	count(oc.id)
	from act_order_code oc
	<where>
		<include refid="base_orderCode_condition" />
	</where>
	</select>
	
	<!--  添加一条发码批次码记录  -->
	<insert id="addOrderCode" parameterType="com.mocredit.activity.model.OrderCode" >
	insert into act_order_code
	<trim prefix="(" suffix=")" suffixOverrides="," >
			id,
			order_id,
			code,
			code_id,
			customer_mobile,
			customer_name,
			status,
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides="," >
			#{id},
			#{orderId},
			#{code},
			#{codeId},
			#{customerMobile},
			#{customerName},
			#{status},
	</trim>
	</insert>
	
	<!--  批量添加批次码记录  -->
	<insert id="batchAddOrderCode" parameterType="java.util.List">
			insert into act_order_code
			<trim prefix="(" suffix=")" suffixOverrides="," >
				id,
				order_id,
				code,
				code_id,
				customer_mobile,
				customer_name,
				status
			</trim>
			values
		<foreach collection="list" item="item" index="index" separator=",">
			<trim prefix="(" suffix=")" suffixOverrides="," >
				#{item.id},
				#{item.orderId},
				#{item.code},
				#{item.codeId},
				#{item.customerMobile},
				#{item.customerName},
				#{item.status}
			</trim>
		</foreach>
	</insert>
			
	<!--  修改一条发码批次码记录  -->
	<update id="updateOrderCode" parameterType="com.mocredit.activity.model.OrderCode" >
	update act_order_code
	<set >
		<if test="id != null" >
		id = #{id},
	</if>
		<if test="orderId != null" >
		order_id = #{orderId},
	</if>
		<if test="code != null" >
		code = #{code},
	</if>
		<if test="codeId != null" >
		code_id = #{codeId},
	</if>
		<if test="customerMobile != null" >
		customer_mobile = #{customerMobile},
	</if>
		<if test="customerName != null" >
		customer_name = #{customerName},
	</if>
		<if test="status != null" >
		status = #{status},
	</if>
	</set>
	where id = #{id}
	</update>
	
	<!--  删除一条发码批次码记录 ，根据主键    -->
	<delete id="deleteOrderCodeById" parameterType="java.lang.String" >
	delete from act_order_code
	where id = #{id}
	</delete>

	<!--  删除发码批次码记录 ，根据条件    -->
	<delete id="deleteOrderCode" parameterType="java.util.Map" >
	delete from act_order_code
	<where>
		<if test="id != null" >
			and id = #{id}
		</if>
		<if test="orderId != null" >
			and order_id = #{orderId}
		</if>
		<if test="code != null" >
			and code = #{code}
		</if>
		<if test="codeId != null" >
			and code_id = #{codeId}
		</if>
		<if test="customerMobile != null" >
			and customer_mobile = #{customerMobile}
		</if>
		<if test="customerName != null" >
			and customer_name = #{customerName}
		</if>
		<if test="status != null" >
			and status = #{status}
		</if>
	</where>
</delete>

<!-- ===================发码批次码,结束======================== -->
</mapper>